<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sxcs.xuberance2020">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".firebase.MyFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity android:name=".ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.WelcomeActivity">
            <intent-filter>
                <action android:name="com.sxcs.xuberance2020.ui.activities.WelcomeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.SectionsActivity">
            <intent-filter>
                <action android:name="com.sxcs.xuberance2020.ui.activities.SectionsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.EventDetailsActivity">
            <intent-filter>
                <action android:name="com.sxcs.xuberance2020.ui.activities.EventDetailsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.PanelActivity">
            <intent-filter>
                <action android:name="com.sxcs.xuberance2020.ui.activities.PanelActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.RegistrationActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.sxcs.xuberance2020.ui.activities.RegistrationActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.BetActivity">
            <intent-filter>
                <action android:name="com.sxcs.xuberance2020.ui.activities.BetActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.EventRulesActivity">
            <intent-filter>
                <action android:name="com.sxcs.xuberance2020.ui.activities.EventRulesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.EventTypeRulesActivity">
            <intent-filter>
                <action android:name="com.sxcs.xuberance2020.ui.activities.EventTypeRulesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>